{{ define "header" }}
<header>
  <div class="{{ .Site.Params.background_color_class | default "bg-white" }}">
    {{ partial "site-navigation-dark.html" . }}
  </div>
</header>
<article class="vh-75-ns flex-wrap justify-between mw8 center index ph3 ph5-l pv3 pv4-l f4 black-90 lh-copy">
  <div class="intro"></div>
      <h1 class="left measure-m f1 fw4 avenir black-90">
      {{ .Title | default .Site.Title }}
      </h1>
      {{ with .Params.description }}
      {{ end }}
  </div>
  {{ .Content }}
</article>
{{ end }}
