{{ $featured_image := .Params.featured_image }}
<a href="{{ .RelPermalink }}" class="db link book bn no-underline book-item">
  <article class="bg-white center mw8 br4 br3-ns mv2 book-card">
    <img src="{{ $featured_image }}" class="img br4 br3-ns br--top" alt="image from {{ .Title }}">
    <div class="ph3">
      <h1 class="book-title db black f4 fw6">{{ .Title }}</h1>
      <h2 class="book-author db black f5 fw4">by {{ .Description }}</h2>
      <h3 class="book-description f5 fw4 gray pb3">{{ .Params.Taxonomies.Category }}</h3>
    </div>
  </article>
</a> 