{{ $featured_image := .Params.featured_image }}
<div class="pv4 bb b--black-10 ph3 ph0-l"> 
  <a href="{{.URL}}" class="db link">
    <article class="bg-white mv2 flex flex-column flex-row-ns">
      <div class="pl3-ns order-1 order-1-ns mb4 mb0-ns w-20-ns">
        <!-- <img src="{{ $featured_image }}" class="img br2" alt="image from {{ .Title }}"> -->
      </div>
      <div class="pl3-ns order-1 order-1-ns mb4 mb0-ns w-90-ns">
        <h1 class="ma0 db black f-headline-l f1 lh-title lh-solid athelas fw4 measure">{{ .Title }}</h1>
        <h2 class="db black f5 fw4">{{ .Description }}</h2>
        <small class="gray db pv2"><time>{{ .Params.Taxonomies.Category }} - {{- .Date.Format " January 2006" -}}</time></small>
      </div>
    </article>
  </a>
</div>