<nav class="pv4 ph3 ph4-ns" role="navigation">
  <div class="flex-l items-start justify-between">
    <div class="pl0 mr3">
      <a class="link black-90 bg-animate hover-bg-yellow" href="{{ .Site.BaseURL }}" class="f3 fw4 no-underline black-80 dib">
        {{ .Site.Params.Author }}
        <h4 class="mv1 f2 fw4 black db">{{ .Site.Title }}</h4>
      </a>
    </div>  
    <div class="flex-l items-center">
      <!-- {{ partial "i18nlist.html" . }} -->
      {{ if .Site.Menus.main }}
        <ul class="pl0 mr3">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib pr3 {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
            <a class="link black-90 bg-animate hover-bg-yellow-ns pa2-ns no-underline" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</nav>