{{ $featured_image := .Params.featured_image }}
<article class="fl mb5 mw8 f4 black-90 lh-copy">
      <a href="{{ .Permalink }}" class="db bn blogimg">
        <img src="{{ $featured_image }}" class="br4 br3-ns" alt="image from {{ .Title }}">
      </a>
      <time class="f6 gray mt4">{{- .Date.Format "January 2, 2006"  }} - {{ .ReadingTime}} minutes read
      </time>
      <h1 class="f3 f2-ns mt0-ns mt2">
          <a href="{{ .Permalink }}" class="color-inherit link bn">
            {{ .Title }}
          </a>
      </h1>
      <p class="f4 f4-l lh-copy">
            {{ .Summary }} <a href="{{ .RelPermalink }}">Read More…</a>
      </p>
    <div class="pl3-l order-1 order-2-l mb2 mb4-m mb0-l">
      {{ if .Params.featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
          {{ $featured_image := (trim $featured_image "/") | absURL }}
    </div>
  {{ end }}
</article>