{{ define "header" }}

  <header class="vh-25">
    <div class="{{ .Site.Params.background_color_class | default "bg-white" }}">
      {{ partial "site-navigation-dark.html" . }}
    </div>
  </header>
  <div class="intro vh-75 flex-wrap justify-between center index ph3 pv3 pv5-l f4 measure-wide lh-copy">
      <div class="graph_pattern tc center mb4">
        <svg class="center w-40-l w-20-m w-30" viewBox="0 0 448 144" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="rect" d="M0 72L72 -9.07293e-07L144 72L72 144L0 72Z" fill="black"/>
        <path id="poly" d="M224 0L286.354 36V108L224 144L161.646 108L161.646 36L224 0Z" fill="black"/>
        <rect id="circle" x="304" width="144" height="144" rx="72" fill="black"/>
        </svg>
      </div>
    <h1 class="tc f1-l f4 fw4 athelas black-90 ma0">
    {{ .Params.Taxonomies.Headline }}
    </h1>
    <h5 class="tc">Product, Design, Systems, Seoul</h5>
    {{ with .Title }}
    {{ end }}
  </div>
  <article class="flex-wrap justify-between mw8 center index ph3 ph5-l pv3 pv4-l f4 measure-wide lh-copy">
    {{ .Content }}
  </article>

{{ end }}