{{ define "header" }}

  <header class="vh-25">
    <div class="{{ .Site.Params.background_color_class | default "bg-white" }}">
      {{ partial "site-navigation-dark.html" . }}
    </div>
  </header>
  <div class="intro vh-75 flex-wrap justify-between center index ph3 pv5 f4 measure-wide lh-copy">
      <div class="graph_pattern tc center mv2 mv4-ns">
        <svg class="center w-30 mv3" viewBox="0 0 448 144" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path id="rect" d="M0 72L72 -9.07293e-07L144 72L72 144L0 72Z" fill="black"/>
        <path id="poly" d="M224 0L286.354 36V108L224 144L161.646 108L161.646 36L224 0Z" fill="black"/>
        <rect id="circle" x="304" width="144" height="144" rx="72" fill="black"/>
        </svg>
      </div>
    <h1 class="tc f1-l f1 fw4 black-90 ma0 lora">
    {{ .Params.Taxonomies.Headline }}
    </h1>
    <h5 class="tc">Product · Leadership · Design System · Seoul</h5>
    {{ with .Title }}
    {{ end }}
  </div>
  <article class="mv5 flex-wrap justify-between mw8 center index ph3 ph5-l pv3 pv4-l f4 black-90 lh-copy">
      <div class="fl w-100 w-50-ns pr2 mt4 ph5">
        <img class="shadow-4 br4" src="images/maxence_mauduit_portrait.jpg" alt="Maxence Mauduit" title="Maxence Mauduit">
      </div>
      <div class="fl w-100 w-50-ns pr2">
        <h1>👋 Hi there! I am Max,</h1>
        <h3>I manage talented teams at <a href="https://www.buzzvil.com/" title="buzzvil website">buzzvil</a>. Together we develop complex Products made simple, built upon amazing <a href="https://design.buzzvil.com" title="Buzzvil Design System">Design Systems</a>.</h3>
        <h4>Over the last decade, I've grown competencies in <mark>leading & managing Designers, then product teams</mark>. My goal is to continue to grow as a better leader.</h4>
        <h4>I believe that knowledge is the next gold and my dream is to one day initiate a crowd-based knowledge-sharing platform.</h4>
      </div>

    </article>
  <article class="flex-wrap justify-between mw8 center index ph3 ph5-l pv3 pv4-l f4 black-90 lh-copy">
    {{ .Content }}
  </article>

{{ end }}